@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    background-image: linear-gradient(to bottom right, #00c6ee, #00d69d);
    background-color: #0ccdf4;
}

body, html {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 19px;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 26pt;
    font-weight: 700;
    margin: 0;
}

p {
    
    margin: 10px 0;
}

/* Floating Container */

#suspended-container {
    height: 250px;
    width: 1000px;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}

@media screen and (max-width: 1100px) {
    #suspended-container {
        width: calc(100vw - 180px);
    }
}

/* Buttons */

.web-links {
    line-height: 36px;
    margin-top: 24px;
}

.web-links a {
    
    color: #FAFAFA;
    padding: 8px;
    font-size: 22pt;
    
}

.web-links div {
    float: left;
    text-align: center;
    height: 36px;
    margin-right: 18px;
    line-height: 36px;
    width: 36px;
}